body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #0678C1;
  margin-left: 11%;
}

.auth-buttons {
  display: flex;
  align-items: center;
  margin-left: -8px;
}
@media screen and (max-width: 490px) {
  .auth-buttons{
    flex-direction: column;

  }

}

.login-button, .signup-button ,button{
  background-color: #0678C1;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 4px;
} 

a{
  color: inherit;  
  text-decoration: none; 
  
}
.search-container {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 16px;
  margin-bottom: 17px;
  padding: 14px;

}

.search-input, .date-input, .room-input {
  flex: 1;
  padding: 14px;
  border: none;
  outline: none;
  font-size: 14px;
  margin-right: 10px;
  border-bottom: 2px solid #0678C1;
}

.date-inputs {
  display: flex;
  flex-direction: line;
}

.date-label {
  font-size: 12px;
  color: #555;
}

.search-button {
  background-color: #0678C1;
  color: #fff;
  border: none;
  padding: 14px;
  cursor: pointer;
  border-radius: 0 0 8px 8px;
}


@media screen and (max-width: 820px) {
  .search-container {
    flex-direction: column;   
  }

  .search-input, .date-input, .room-input {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .logo {
      font-size: 20px;
      font-weight: bold;
      color: #0678C1;
      margin-left: 5px;
    }
    .login-button, .signup-button {

      margin-right: 0px;
    }
    
}


.main-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.travel-section {
  display: flex;
  justify-content: space-around;

  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 400px;
}
.destination-card{
  width: 100%;
}
#ico{
  max-height: 20px;
}

.destination-card img {
  width: 100%;
  height: 80%;
  min-height: 79%;
  object-fit: cover;
  border-radius: 8px;
}

.titre {
position: absolute;
margin-top: -350px;
font-size:30px;
margin-left: 20px;
display:flex;
text-shadow: 3px 3px 5px rgb(0, 0, 0);
color:#ffffff;
}

.price {
  position: absolute;
  font-size: 25px;
  color: #ffffff;
  display:table-column;
  margin-top: -115px;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  margin-left: 20px;

  }
.date {
  position: absolute;
  font-size: 22px;
  color: #ffffff;
  display: flex;
  margin-top: -85px;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  margin-left: 30px;
  }
.description{
  margin-top: -1px;
  text-align: left;
  font-size: small;
}
  /* promotions */

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300%);
  }
}

.scrolling-container {
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  margin-bottom: 5px;
}

.scrolling-content {
  white-space: nowrap;
  display: inline-block;
  animation: scrollAnimation 25s linear infinite;
  /* Ajustez la durée de l'animation selon vos besoins */
}
.scrolling-container img{
  height: 100px;
}

/* Dupliquez le contenu pour créer une boucle */
.scrolling-content::before, .scrolling-content::after {
  content: attr(data-content);
  white-space: nowrap;
  display: inline-block;
  animation: inherit; /* Utilisez la même animation que le contenu principal */
}

.scrolling-content::before {
  margin-right: -100%; /* Ajustez la marge négative pour éviter le saut lors de la transition */
}


#tit{
  text-align:center;
  padding: 0%;
  margin-top:10px ;
  margin-bottom:-9px ;
  height: 40px;
  width: 95%;
  color:#0678C1;
  text-decoration:overline;
}

#imgprof{
  border-radius: 100%;
  height:53px;
  width: 55px;
  border:solid #000000;
  margin-right:10px;
  margin-left:10px;
}
#nom {
  margin-left: auto  ;
  padding-left: 15px;
  padding-right: 5px;

}
.footer {
  position: flex ; /* or 'sticky' depending on your preference */
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  margin-bottom: auto;
  background-color: #34404b59;
  color: white;
align-items: center;
}
.foot{    
  margin-top: 20px;
  margin-left: 70px;
  color:#0064a2;
  font-size: 22px;
}
#icof{
  width: 50px;
  height: 50px;
}

a button:hover{
  background-color: #ffa20098;
  color: #000000;
  transition: 0.5s;
  text-decoration:solid overline;
}

/* navbar*/
